.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: #212121FF;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidbar-Link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidbar-Link:hover{
    background-color: #4D4D4D;
}
.sidbar-Link img{
    height: 24px;
    margin-bottom: 4px;
}

.sidbar-Link div{
    font-size: 10px;
}